html,
body {
    font: 21px/1.5 Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0px;
}

.nav {
    position: fixed;
    top: 0;

    width: 100%;
    padding: 12px 21px;
    background-color: rgba(255, 255, 255, 0.75);
}

.page {

}

.section {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    background-color: #ddd;

    &:nth-child(2n) {
        background-color: #eee;
    }
}

.section-content {
    background-color: #fff;
}
