html,
body {
    font: 21px/1.5 Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 200%;
    font-weight: normal;
}

.black {
    background-color: #333;
}

.button {
    font-size: 32px;
    padding: 14px 42px;
    background: #fff;
    display: inline-block;
}

.nav {
    position: fixed;
    top: 0;
    z-index: 1;

    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}

.nav-content {
    padding: 12px 48px;
}

.logo {
    float: left;
    width: 1.5em;
    height: 1.5em;
}

.menu {
    word-spacing: 12px;
    text-align: right;
}

.page {

}

.section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    background-color: #ddd;
}

.section.active {
    /* background-color: #f00 !important; */
}

.section:nth-child(2n) {
    background-color: #eee;
}

/* .section:after {
    position: absolute;
    left: 50%;
    bottom: 0;

    display: block;
    width: 60px;
    height: 60px;
    margin-left: -30px;

    content: '';
    background-color: red;
} */

.section-content {
    /* background-color: #fff; */
    width: 100%;
    text-align: center;
}

.what-frame {

}

.cargos {
    height: 50%;
    /* width: 100%; */
    background-color: #green;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.plant,
.bird,
.sofa,
.truck {
    flex-shrink: 1;
    position: relative;
    left: -5000px;
    width: 15%;
    margin: 0 30px;

    transition: left 0.5s;
}

.bird { transition-delay: 0.2s; }
.sofa { transition-delay: 0.3s; }
.truck { transition-delay: 0.5s; }

.active .plant,
.active .bird,
.active .sofa,
.active .truck {
    left: 0;
}

.how-frame {
    margin: 0 20%;
    text-align: center;
}

.steps {
    display: flex;
    flex-flow: column;
    align-items: left;
    /* border: 1px green solid; */
}

.one-step {
    width: 500px;
    margin: 20px;
}

.one-step:nth-child(2) {
    margin: 20px;
    align-self: flex-end;
}

.step-icon {
    width: 160px;
    height: 160px;
    margin: 0 24px;
    border-radius: 120px;
    float: left;
}

.feedback-frame {
    margin: 0 10%;
    text-align: center;
    display: flex;
    flex-flow: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feedback {
    display: inline-block;
    background-color: #aaa;
    width: 30%;
    height: 30%;
    margin-bottom: 40px
}

.footer {
    background-color: #666;
    height: 240px;
}
